<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blue Social</title>
</head>

<script type="text/javascript">
    let dados = JSON.parse(localStorage.getItem('user'));

    if(dados === null) {
        window.location.href = "/";
    }

    document.onreadystatechange = function() {
        if(document.readyState === 'complete') {
            let mobile = 0;
            let userColor = 0;
            const btnU = document.querySelector('#btn_user');
            const btnUs = document.querySelector('#btn_users');
            const btnM = document.querySelector('#mobile');
            const usuario = document.querySelector('#usuario');
            const usuarios = document.querySelector('#usuarios');
            const menu = document.querySelector('#menu_Hmobile');
            const h2user = document.querySelector('.homeH2User');
            const h2nome = document.querySelector('.homeH2Nome');
            const h2publi = document.querySelector('.publiH2Nome');
            const btnLogout = document.querySelectorAll('.btn_logout')

            h2user.innerText = dados.usuario;
            h2nome.innerText = dados.nome;
            h2publi.innerText = "Ola " + dados.nome + ", Conte-nos algo...";
            btnU.style.background = "#166fe5";

            btnU.addEventListener('click', function() {
                usuario.style.display = 'flex';
                usuarios.style.display = 'none';
                btnU.style.background = "#166fe5";
                btnUs.style.background = "#242526";
            });
            btnUs.addEventListener('click', function() {
                usuario.style.display = 'none';
                usuarios.style.display = 'flex';
                btnUs.style.background = "#166fe5";
                btnU.style.background = "#242526";
            });
            btnM.addEventListener('click', function() {
                console.log(menu.style.left)
                if(mobile === 0) {
                    menu.style.left = '0';
                    mobile = 1;
                }else {
                    menu.style.left = '-275px';
                    mobile = 0;
                }                
            });
            for(let btnL of btnLogout) {
                btnL.addEventListener('click', function(){
                localStorage.clear();
                window.location.href = "/";
            });
            }
        }
    }    
</script>
<body>
    <%- include('./partials/header.ejs') %>

    <main id="main_home">
        <section id="menu_Hmobile">
            <nav>
                <div id="btn_user">
                    <img src="img/user.png" alt="">
                </div>
                <div id="btn_users">
                    <img src="img/group.png" alt="">
                </div>               
            </nav>
            <article id="usuario">
                <div id="usuario_img">
                </div>
                <h2 class="homeH2Nome"></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, vel aliquam incidunt suscipit distinctio sequi, pariatur et consectetur dolor tenetur mollitia ullam perspiciatis reiciendis, tempora hic repellat! Facilis delectus sed veritatis mollitia perspiciatis facere, doloribus ducimus molestiae assumenda labore. Ipsam, rem reiciendis. Recusandae quae alias debitis accusantium repellendus.</p>
                <div id="usuario_btns">
                    <button id=btn_editar"><img src="img/edit.png" alt="">Editar conta</button>
                    <button id="btn_lock">
                        <img src="img/lock.png" alt="">Alterar senha
                    </button>
                    <button id="btn_deletar"><img src="img/bin.png" alt="">Deletar conta</button>
                    <button class="btn_logout">
                        <img src="img/logout.png" alt="">Logout
                    </button>
                </div>
            </article>
            <article id="usuarios">
                <h2>Usuários</h2>
                <article>
                </article>
            </article>
        </section>

        <div class="container">
            <section id="home_usuario">
                <article>
                    <img src="/img/user.png" alt="">
                    <h2 class="homeH2User"></h2>
                </article>
                <div id="home_usuario_container">
                    <article>
                        <div id="user_img"></div>
                    </article>
                    <h2 class="homeH2Nome"></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, impedit voluptates, aliquid adipisci eius autem iste, in eaque sequi enim dolores ad quaerat! Vitae quaerat voluptate hic commodi laudantium labore!</p>
                    <article id="user_btns">
                        <button id=btn_edit"><img src="img/edit.png" alt="">Editar conta</button>
                        <button id="btn_pass">
                            <img src="img/lock.png" alt="">Alterar senha
                        </button>
                        <button id="btn_del"><img src="img/bin.png" alt="">Deletar conta</button>
                        <button class="btn_logout">
                            <img src="img/logout.png" alt="">Logout
                        </button>
                    </article>
                </div>
            </section>
        </div>

        <section id="home_publi">
            <article>
                <h2 class="publiH2Nome">Ola fulano, conte-nos algo...</h2>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </article>
        </section>

        <div class="container">
            <section id="home_usuarios">
                <article>
                    <img src="/img/group.png" alt="">
                    <h2>Usuários</h2>
                </article>
                <div id="home_usuarios_container">
                    <article>
                    </article>
                </div>
            </section>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>