* {
    margin: 0;
    padding: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #166fe5 #242526;
}
    *::-webkit-scrollbar {/* Works on Chrome, Edge, and Safari */
    width: 12px;
}
    *::-webkit-scrollbar-track {
    background: #242526;
}
    *::-webkit-scrollbar-thumb {
    background-color: #166fe5;
    border-radius: 20px;
    border: 3px solid #242526;
}
body {
    width: 100vw;
    max-width: 100%;
    height: auto;
    min-width: 320px;
}
a {
    text-decoration: none;
    color: currentColor;
}
header {
    width: 100%;
    height: 10vh;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #242526;
}
header a img {
    height: 35px;
}
header img#mobile {
    display: none;
}
footer {
    width: 100%;
    height: 5vh;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #242526;
}
footer a {
    color: #166fe5;
    font-size: 16px;
}

/* Começo da login */

div#opacidade {
    position: fixed;
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
div#getOpaco {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #E4E6EB;
    z-index: 2;
    opacity: .3;
}
div#get_cadastro {
    width: 320px;
    height: auto;
    z-index: 3;
    background-color: #3E4042;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
div#titulo {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dadde1;
    padding-bottom: 5px;
    color: #E4E6EB;
}
div#btn_sairCadastro {
    cursor: pointer;
    color: red;
    font-weight: bolder;
    font-size: 21px;
}

form#form_cadastro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form#form_cadastro input {
    border-radius: 6px;
    padding: 10px;
    outline: 0;
    border: 1px solid #E4E6EB;
    background-color: #3E4042;
    color: #E4E6EB;
}
form#form_cadastro input::placeholder {
    color: #E4E6EB;
}
form#form_cadastro button {
    border-radius: 10px;
    padding: 9px;
    outline: 0;
    border: none;
    cursor: pointer;
    background-color: #166fe5;
    color: #fff;
    font-size: 16px;
}
form#form_cadastro button:hover {
    background-color: #365899;
}

main#main_login {
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #18191A;
}
main#main_login section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 90%;
}

article#blue {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 30%;
    min-width: 320px;
    text-align: justify;
    padding: 1rem;
    color: #E4E6EB;
}
article#dados_login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    width: 320px;
    background-color: #3E4042;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
article#dados_login form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid #E4E6EB;
}
article#dados_login form input {
    padding: 15px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #E4E6EB;
    font-size: 1.2rem;
    background-color: #3E4042;
    color: #E4E6EB;
}
article#dados_login form input::placeholder {
    color: #E4E6EB;
    font-size: 1.2rem;
}
article#dados_login form button {
    padding: 15px;
    border-radius: 6px;
    border: none;
    background-color: #166fe5;
    color: #E4E6EB;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}
article#dados_login form button:hover {
    background-color: #365899;
}
article#dados_login form a {
    margin-bottom: 1rem;
    font-size: 14px;
}
article#dados_login button#btn_cadastro {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding: 15px;
    border-radius: 6px;
    border: none;
    background-color: #42b72a;
    color: #E4E6EB;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}
article#dados_login button#btn_cadastro:hover {
    background-color: #578843;
}

/* Fim da login */
/* Começo da home */

main#main_home {
    width: 100%;
    max-width: 100%;
    height: 85vh;
    min-width: 320px;
    min-height: 400px;
    background-color: #18191A;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: auto;
}

div.container {
    width: 20%;
    min-width: 230px;
    height: 85vh;
    min-height: 400px; 
}

section#menu_Hmobile {
    display: none;
}
section#home_usuario, section#home_usuarios {
    width: 20%;
    min-width: 230px;
    height: 85vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    position: absolute;
}
section#home_usuario article, section#home_usuarios article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin-top: 8px;
}
section#home_usuario div#home_usuario_container, section#home_usuarios div#home_usuarios_container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 8px;
}
section#home_usuario img, section#home_usuarios img {
    height: 24px;
}
section#home_usuario h2, section#home_usuarios h2 {
    color: #E4E6EB;
    font-size: 18px;
    margin-top: 8px;
}
section#home_usuario article div#user_img {
    width: 180px;
    height: 180px;
    border-radius: 900px;
    background-color: #242526;
    background-image: url('../img/astronauta.png');
    background-repeat: no-repeat;
    background-size: cover;
}
section#home_usuario p {
    width: 90%;
    text-align: justify;
    color: #E4E6EB;
    font-size: 13px;
}
section#home_usuario article#user_btns button {
    width: 90%;
    outline: 0;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-radius: 6px;
    padding: 6px;
    background-color: #242526;
    color: #E4E6EB;
    gap: 8px;
    margin-bottom: 8px;
    transition: 0.5s ease;
}
section#home_usuario article#user_btns button:hover {
    background-color: #3E4042;
}
section#home_usuarios div article div {
    width: 90%;
    height: 35px;
    min-height: 35px;
    background-color: #242526;
    margin-bottom: 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s ease;
}
section#home_usuarios div article div:hover {
    background-color: #3E4042;
}
section#home_publi {
    width: 60%;
    height: 85vh;
    min-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
section#home_publi article {
    width: 98%;
    min-height: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #242526;
    margin-top: 8px;
    border-radius: 6px;
}
section#home_publi article h2 {
    color: #E4E6EB;
    width: 98%;
    text-align: left;
    font-size: 16px;
    margin-top: 8px;
}
section#home_publi article textarea {
    margin-top: 2px;
    margin-bottom: 8px;
    outline: none;
    resize: none;
    width: 98%;
    height: 80px;
    border-radius: 6px;
    background-color: #E4E6EB;
}

/* Fim da home */
/* Começo do enter */

body#enter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

/* Fim do enter */
@media screen and (max-width: 840px){
    header {
        justify-content: space-between;
    }
    header a img {
        margin-left: 16px;
    }
    header img#mobile {
        height: 24px;
        margin-right: 16px;
        cursor: pointer;
        display: block;
    }

    main#main_login section {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    article#blue {
        justify-content: center;
        align-items: center;
    }

    section#menu_Hmobile {
        width: 275px;
        height: 85vh;
        min-height: 400px;
        background-color: #242526;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: 0.5s ease;
        position: absolute;
        left: -275px;
    }
    section#menu_Hmobile nav {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #242526;
        border-bottom: 5px solid #242526;
        gap: 64px;
    }
    section#menu_Hmobile nav div {
        padding: 8px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        cursor: pointer;
        border-radius: 6px;
    }
    section#menu_Hmobile nav img {
        height: 24px;
    }
    
    article#usuario {
        width: 100%;
        height: 100%;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        overflow: auto;
    }
    article#usuario div#usuario_img {
        min-width: 150px;
        min-height: 150px;
        border-radius: 75px;
        background-color: #18191A;
        background-image: url('../img/astronauta.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 16px;
    }
    article#usuario h2 {
        color: #E4E6EB;
        font-size: 16px;
        margin-top: 8px;
    }
    article#usuario p {
        width: 90%;
        text-align: justify;
        color: #E4E6EB;
        margin-top: 8px;
        font-size: 12px;
    }
    article#usuario div#usuario_btns {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 16px;
    }
    article#usuario div#usuario_btns button {
        width: 90%;
        outline: 0;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        background-color: #3E4042;
        border-radius: 6px;
        padding: 6px;
        color: #E4E6EB;
        gap: 8px;
        margin-bottom: 8px;
    }
    article#usuario div#usuario_btns button:hover {
        background-color: #166fe5;
    }
    article#usuario div#usuario_btns button img {
        width: 16px;
    }
    article#usuarios {
        width: 100%;
        height: 100%;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: none;
    }
    article#usuarios h2 {
        color: #E4E6EB;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    article#usuarios article {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: auto;
    }
    article#usuarios article div {
        width: 90%;
        height: 25px;
        min-height: 25px;
        background-color: #3E4042;
        margin-bottom: 8px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.5s ease;
    }
    article#usuarios article div:hover {
        background-color: #365899;
    }

    section#home_usuario, section#home_usuarios {
        display: none;
    }
    section#home_publi {
        width: 100%;
    }

    div.container {
        display: none;
    }
}